<h3>Productos Registrados</h3>

<div>
<%= link_to admin_nuevo_producto_path, class: "btn btn-primary" do %>
    <i class="bi bi-plus-circle"> Agregar producto</i>
<% end %>
</div>

<h2>Activos</h2>
<%= render 'tabla_productos', productos: @productos_activos %>


<h2>Inactivos</h2>
<%= render 'tabla_productos', productos: @productos_inactivos %>